[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh-background-notify"]
	path = zsh-background-notify
	url = https://github.com/t413/zsh-background-notify.git
